div.container-fluid button {
  height: 60px;
  border-radius: 10px;

  font-family: "Roboto", sans-serif;
  font-size: 27px;
  font-weight: 300;
  color: white;
}

div.container-fluid button.login {
  background-color: #0b9ed9;
}

div.container-fluid button.send {
  background-color: #ef1d69;
}

/* MediaQuerys */
@media only screen and (min-width: 768px) {
  div.container-fluid button {
    border-radius: 15px;
  }

  div.container-fluid button.login {
    width: 224px;
  }

  div.container-fluid button.send {
    width: 239px;
  }
}
